@model LoginViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <label>Kullanıcı Adınız</label>
        <input type="text" asp-for="Username" class="form-control" />
        <br />
        <label>Şifreniz</label>
        <input type="password" asp-for="Password" class="form-control" />
        <br />
        <button class="btn btn-dark">Giriş Yap</button>
    </form>
</div>